@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?pmav1y');
  src:  url('icomoon.eot?pmav1y#iefix') format('embedded-opentype'),
    url('icomoon.ttf?pmav1y') format('truetype'),
    url('icomoon.woff?pmav1y') format('woff'),
    url('icomoon.svg?pmav1y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-keyboard_arrow_right:before {
  content: "\e902";
}
.icon-keyboard_arrow_left:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e901";
}
.icon-narrow:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e900";
}
.icon-zoom:before {
  content: "\e900";
}
.icon-magnifier:before {
  content: "\e900";
}
.icon-magnifying-glass:before {
  content: "\e900";
}
