// This less files contains common styles for all screen sizes

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#top-bar {
  background: @thunder;
}

header {
  &#header {
    width: 100%;

    #top-bar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      
      ul {
        &#login-menu {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
       
        li {
          display: inline-block;
          color: @write;
          
          a {
            font-weight: 800;
            color: @write;
          }
        }
        
        li:nth-child(2){
          padding: 0 10px;
        }
      }
    }
  }
  #top-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 10px 20px;
    max-height: 113px;
    height: 100%;
  }

  #top-menu {
    z-index: 9;

    #mmenu {
      font-weight: 800;
      text-transform: uppercase;
      
      a, a:hover, a:visited {
        text-decoration: none;
        color: @write;
      }
    }
  }
}

#breadcrumbs {
  padding: 40px 25px 50px;
  font-size: 40px;
 
  span {
    &#categoria {
      color: @parsian-red;
    }
  }
}

#main {
  display: flex;

  #information {
    width: 80%;
    max-height: 510px;


    #logo-container {
      // width: 96%;
      // max-width: 955px;
      height: 100%;
      max-height: 281px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: @gray;
      margin-left: 20px;
      margin-bottom: 20px;
      
      .logo {
        width: 100%;
        max-width: 200px;
      }
    }

    .description {
      // width: 100%;
      // max-width: 955px;
      height: 100%;
      max-height: 210px;
      margin-left: 20px;
    }
  }
 
  #side-home {
    width: 260px;
    background-color: #e3dedb;
    height: 510px;
    
    .side-menu {
      ul {
        li {
          text-transform: uppercase;
          margin: 20px 0 0 40px;
          

          a {
            text-decoration: none;
            color: #000;
          }
        }
      }
    }
  }
 
  #filters {
    padding: 20px;
    margin-bottom: 50px;
   
    #filterBy {
      border: 1px solid @gray;
      padding: 10px;
      h2 {
        color: @parsian-red;
        font-size: 70px;
        text-transform: uppercase;
      }
      h3 {
        color: @neptune;
        font-size: 50px;
        text-transform: uppercase;
        padding-top: 30px;
      }
     
      .categories {
        ul {
          li {
            color: @gray;
            font-size: 45px;
          }
        }
       
        #cores {
          li {
            padding: 0 8px;
          }

          a {
            color: #000;
            text-decoration: none;
            color: @gray;
          }
        }
      }
    }
  }
  #catalog {
    h1 {
      font-size: 80px;
      font-weight: 400;
      color: @parsian-red;
      padding: 20px;
    }
   
    #ordenate {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 25px 50px;
    
      #listing {
        display: flex;
        color: @gray;
       
        .icon-th, .icon-th-list {
          padding: 0 10px;
          font-size: 25px;
          cursor: pointer;
         
          &.active {
            color: @neptune;
          }
        }
      }
      .options {
        display: flex;
        align-items: center;
      }
     
      label {
        font-size: 2em;
        font-weight: 600;
        color: @gray;
        text-transform: uppercase;
        padding-right: 15px;
      }
     
      select {
        font-size: 2em;
        padding: 10px;
       
        &#ordem {

        }
      }
    }
    
    #products {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
     
      .item {
        width: 210px;
        text-align: center;
        color: @abbey;
        margin-top: 20px;
        height: 390px;

        .img {
          height: 237px;
          margin-bottom: 10px;

          img {
            width: 100%;
            height: 100%;
            border: 1px solid @gray;
          }
        }
       
        .name {
          height: 55px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          text-transform: uppercase;
          font-size: 20px;
          margin-top: 45px;
        }
       
        .old-price {
          font-size: 3em;
          text-decoration: line-through;
        }
       
        .price {
          font-size: 4em;
          font-weight: 800;
          color: @parsian-red;
          position: relative;
          top: 17px;
        }
      }
     
      .buy {
        height: 0;

        button.btn-buy {
          &.btn-buy {
            width: 100%;
            border: none;
            height: 40px;
            font-weight: 800;
            font-size: 22px;
            color: #fff;
            text-transform: uppercase;
            background: @neptune;
            border-radius: 10px;
            cursor: pointer;
            position: relative;
            top: 20px;
          }
        }
      }
    }
   
    #pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      font-size: 24px;
     
      a, a:hover, a:visited {
        padding: 10px;
        text-decoration: none;
        color: @thunder;
      }
     
      span {
        color: @neptune;
        font-size: 40px;
      }
    }
  }
}

footer {
  height: 180px;
  background: @parsian-red;
  margin: 5px 0 25px;
}

// Trata o posicionamento das cores de filtro
#filterBy {
  .filter-2 {
    ul {
      &#cores {
        li {
          list-style: none;
          padding-left: 0px;
          display: inline-block;
        }
      }
    }
  }
}

// Página de contato
.wrapper {
  display: flex;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
 
  .map {
    padding: 0 50px;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}