// Less destinado ao estilo em telas maiores

@media only screen and (min-device-width: 768px) {
  //Remove elementos do mobile
  #mobile-menu-icon, span.icon-search {
    display: none;
  }

  //Ajusta a barra de login
  header#header {
    width: 100%;

    #top-bar {
      #login-menu {
        padding: 5px 15px;
      }
    }

    //Ajusta os itens da segunda linha do header
    .container {
      #top-middle {
        padding: 0px 10px 0px 20px;

        #logo {
          img {
            width: 200px;
          }
        }

        #search {
          #input-search {
            height: 30px;
            width: 200px;
          }

          #btn-search {
            width: 120px;
            height: 35px;
            padding: 0px 30px;
          }
        }
      }
    }

    #top-middle {
      #search {
        input {
          &#input-search {
            width: 315px;
            height: 40px;
          }
        }

        button {
          &#btn-search {
            margin-left: -5px;
            padding: 12px 30px;
            font-size: 15px;
            font-weight: 800;
            text-transform: uppercase;
            color: @write;
            background: @parsian-red;
            border: none;
            height: 45px;
          }
        }
      }
    }

    //Ajusta o menu para desktop
    #top-menu {
      display: flex;
      justify-content: flex-start;
      color: @write;
      background: @parsian-red;
      height: 55px;

      ul {
        &#mmenu {
          padding: 15px 0;

          li {
            display: none;
          }

          a {
            li {
              padding-left: 30px;
              display: inline;
              list-style: none;
            }
          }
        }
      }
    }
  }

  //Ajusta o bradcrumbs para desktop
  #breadcrumbs {
    padding: 25px;
    font-size: 15px;
  }

  //Ajusta o main content para mobile
  #main {
    padding: 20px 20px;

    #filters {
      width: 300px;

      #filterBy {

        h2 {
          &.filterTitle {
            font-size: 25px;
          }
        }

        h3 {
          font-size: 20px;
          padding-top: 5px;
        }

        #cores {
          ul {
            li {
              padding: 0 4px;
              font-size: 30px;
            }
          }
        }

        .categories:not(.filter-2) {
          padding-left: 40px;

          ul {
            li {
              font-size: 20px;
            }
          }
        }
      }
    }

    //Ajusta área de catalogo para desktop
    #catalog {
      width: 100%;
      padding-right: 10px;
      
      hr {
        margin: 10px 0;
      }
      
      h1 {
        font-size: 50px;
        padding: 0px;
      }

      #ordenate {
        padding: 0;
        
        label {
          font-size: 15px;
        }
        
        select {
          padding: 0 20px;
          font-size: 16px;
          width: 130px;
          height: 30px;
          text-transform: uppercase;
          
          #ordem {
            option {

            }
          }
        }
        
        #listing {
          padding: 0 15px;
          font-size: 25px;
        }
      }

      #products {
        .item {
          width: 21%;
          
          .name {
            font-size: 15px;
          }
          
          .old-price {
            font-size: 15px;
          }
          
          .price {
            font-size: 25px;
          }
        }
      }
    }
  }
  // Trata o display grid ou lista

  #main {
    #catalog {
      #products {
        &.list {
          flex-wrap: nowrap;
          flex-direction: column;
        }
       
        .item {
          &.list {
            display: flex;
            width: 100%;
          }
        }
      }
    }
  }

  //ajuste footer
  footer {
    width: 100%;
    margin: 20px 0px;
  }
}

@media only screen and (min-device-width: 1024) {
  header {
    width: 100%;
  }
  //ajuste do container
  .container {
    margin: 0;
  }
  //Ajusta o main content para mobile
  #main {
    margin: 0 2%;

    #side-home {
      display: block;
    }
    
    //Ajusta área de catalogo para desktop
    #catalog {
      #products {
        .item {
          width: 24%;
          height: 350px;
         
          &.list {
            width: 100%;
           
            .name {
              padding-left: 50px;
            }
          }
          
          .name {
            font-size: 15px;
            margin-top: 15px;
          }
          
          .old-price {
            font-size: 15px;
          }
          
          .price {
            font-size: 20px;
          }
        }

        .buy {
          button.btn-buy.btn-buy {
            font-size: 20px;
          }
        }
      }
    }

    //ajusta container da home
    #information {
      #logo-container {
        width: 96%;
      }
  
      .description {
        width: 96%;
      }
    }

    // Trata o display grid ou lista
    #catalog {
      #products {
        &.list {
          flex-wrap: nowrap;
          flex-direction: column;
        }
       
        .item {
          &.list {
            display: flex;
            width: 100%;
          }
        }
      }
    }
  }

  //ajuste footer 
  footer {
    width: 985;
    height: 180px;
    margin: 5px 0 20px 20px;
  }
}

@media only screen and (min-device-width: 1440px) {
  // Define o container para dispositivos grandes
  .container {
    max-width: 1240px;
    width: 100%;
    margin: 0 7.5%;
  }

  #top-menu {
    #mmenu {
      left: 96px;
      position: relative;
    }
  }
  //Ajusta o main content para mobile
  #main {
    //Ajusta área de catalogo para desktop
    #catalog {
      #ordenate {
        margin: 1px 4px 0px 0px;
      }

      #products {
        .item {
          width: 21%;
          margin-bottom: 20px;
          
          .name {
            font-size: 20px;
          }
          
          .old-price {
            font-size: 20px;
          }
         
          .price {
            font-size: 35px;
          }
        }

        &.list {
          flex-wrap: nowrap;
          flex-direction: column;
        }
       
        .item {
          &.list {
            display: flex;
            width: 100%;
          }
        }
      }
    }
  }
}

// Adiciona estilos do popup de carrinho
.addToCart {
  width: 100%;
  height: 100%;
  background: @gray;
  opacity: 0.5;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: none;
  &.active {
    display: flex;
  }
}

.windowCart {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  display: none;
  &.active {
    display: flex;
  }
  
  .addCartWindow {
    width: 28%;
    height: 32%;
    background: #fff;
    border-radius: 25px;
    padding: 25px;
    display: none;
    -webkit-box-shadow: -5px 0px 30px 16px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    -5px 0px 30px 16px rgba(50, 50, 50, 0.5);
    box-shadow:         -5px 0px 30px 16px rgba(50, 50, 50, 0.5);
    
    .middle {
      #pricePopup {
        font-size: 40px;
        font-weight: 800;
        color: @parsian-red;
        padding: 0 15px;
      }
    }
   
    img {
      &#imgPopup {
        width: 250px;
        height: 200px;
        border: 1px solid @gray;
      }
    }
   
    #namePopup {
      padding: 10px 0;
    }
   
    button {
      width: 30%;
      border: none;
      padding: 5px;
      font-weight: 800;
      font-size: 15px;
      color: #fff;
      text-transform: uppercase;
      background: red;
      border-radius: 10px;
      cursor: pointer;
    }
   
    &.active {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  footer {
    max-width: 1240px;
    width: 100%;
    margin: 5px 0 20px 20px;
  }
}