// This less file contains styles for small devices

@media only screen and (max-device-width: 767px) {

  // Remove itens do desktop
  #input-search, #btn-search, .buy, #main #catalog #ordenate #listing, hr {
    display: none;
  }

  header {
    &#header {
      #top-bar {
        justify-content: center;

        ul {
          padding: 20px 0;

          li {
            font-size: 40px;
          }
        }
      }

      #mobile-menu-icon {
        .icon-menu:before {
          font-size: 80px;
          content: "\e901";
        }
      }

      #search {
        .icon-search:before {
          font-size: 80px;
          content: "\e900";
        }
      }
    }
  }

  #top-menu {
    display: none;
    width: 100%;
    height: 100%;
    background: @thunder;
    color: @write;
    position: fixed;
  }

  #mmenu {
    text-align: center;
    width: 100%;
    color: @write;
    padding: 50px 20px;

    li {
      padding: 40px 0;
      font-size: 60px;
    }
  }

  .container {
    margin: 0px 24px;
    text-align: left;

    .map {
      .contact {
        h2 {
          font-size: 2rem;
        }

        h3 {
          font-size: 1.8rem;
        }

        h4 {
          font-size: 1.1rem;
        }
      }
    }
  }

  #main {
    flex-direction: column;
    padding: 10px 0;
    margin: 25px 25px;

    #side-home {
      display: none;
    }

    #information {
      height: 510px;
      width: 100%;

      h2 {
        font-size: 30px;
      }

      h3 {
        font-size: 25px;
      }

      #logo-container {
        margin-left: 0;
      }
    }

    .categories {
      display: none;
      padding-left: 60px;

      ul {
        li {
          font-size: 25px;
        }
      }
    }

    #catalog {
      #categoriaTitle {
        padding: 8px;
      }
      #ordenate {
        justify-content: center;

        .options {
          select {
            &#ordem {
              width: 580px;
              border-radius: 20px;

              option {
                font-size: 12px;
              }
            }
          }
        }
      }

      #products {
        .item {
          padding: 0 8px;
          width: 45%;
          height: 670px;

          .img {
            height: 78%;

            img {
              height: 480px;
            }
          }
          .name {
            font-size: 30px;

            .old-price {
              font-size: 1.2em;
            }
            .price {
              font-size: 1.7em;
            }
          }
        }
      }
    }
  }

  footer {
    margin: 0px 20px;
    width: 95.5%;
    position: relative;
    top: 52vh;
  }

  // Trata o tamanho das imagens de filtro para mobile

  #filters {
    text-align: left;
    margin-left: 15px;
    #filterBy {
      .categories {
        ul {
          &#cores {
            li {
              a {
                img {
                  width: 100px;
                  padding: 40px;
                }
              }
            }
          }
        }
      }
    }
  }
}